@page 
@model LipsModel

@{
    ViewData["Title"] = "Lips page";
}

<table class="table table-dark">
    <thead>
    <tr>
        <tr><img src="/img/Lips1.jpg" width="275" height="250"></tr>
        <tr><img src="/img/Lips4.jpg" width="278" height="250"></tr>
        <tr><img src="/img/Lips5.jpg" width="278" height="250"></tr>
        <tr><img src="/img/Lips6.jpg" width="278" height="250"></tr>
    </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lipProduct[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lipProduct[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lipProduct[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lipProduct[0].BuyAt)
            </th>
            <th>
                Stars
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.lipProduct) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyAt)
            </td>
            <td>
                @{
                  if(item.Reviews.Count > 0)
                  {
                    double avg = item.Reviews.Average(r => r.Stars);
                    @Html.DisplayFor(modelItem => avg)
                  }
                  else
                  {
                    @:No Reviews Yet
                  }
                }
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>