@page
@model RecommendModel
@{
    ViewData["Title"] = "Tell us what you want to see!";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-borderless table-dark">
  <thead>
    <tr>
      <th scope="col-3">Face</th>
      <th scope="col-3">Eyes</th>
      <th scope="col-3">Lips</th>
      <th scope="col-3"></th>
    </tr>
  </thead>
  <tbody>
      <tr><img src="/img/Foundation.jpg" width="260" height="220"></tr>
      <tr><img src="/img/Eyes.jpg" width="300" height="220"></tr>
      <tr><img src="/img/Lips.jpg" width="270" height="220"></tr>
      <tr><img src="/img/Recommend.jpg" width="278" height="220"></tr>


    <tr>
<form method="post">
    <td><input type="checkbox" name="selectedProductTypes" value="1"/> Most Popular</td>
    <td><input type="checkbox" name="selectedProductTypes" value="2"/> Most Popular</td>
    <td><input type="checkbox" name="selectedProductTypes" value="3"/> Most Popular</td>
    <td><input type="submit" value="Submit" class="btn btn-primary"/></td>
</form>
    </tr>
  </tbody>
</table>

<hr />
@if (Model.Product != null)
{
    
    @foreach(var item in Model.Product)
    {
  <table class="table table-dark">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Purchase at
            </th>
            <th>
                Stars
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyAt)
            </td>
            <td>
                @{
                  if(item.Reviews.Count > 0)
                  {
                    double avg = item.Reviews.Average(r => r.Stars);
                    @Html.DisplayFor(modelItem => avg)
                  }
                  else
                  {
                    @:No Reviews Yet
                  }
                }
            </td>
        </tr>
    </tbody>
</table>
<hr />
        //<p>Brand : @item.Brand Name: @item.Name Price: @item.Price Purchase at: @item.BuyAt</p>
    }
}

